//Global
.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: $heading;
  text-transform: uppercase;
  font-size: $fs-lg;
  color: getColor("black");
}

article p {
  color: getColor("darkgray");
  line-height: 2;
  // text-align: center;
}

section {
  padding-top: 4rem;
}

figure {
  width: 100%;
  img {
    width: 100%;
  }
}
